config:
  oidc:
    secret:
      create: false # default is true
  enableHelm: true # default is true
  watchPlugins: true # defualt is false
  # pluginsDir: /build/plugins # only to be used if you use init containers to install the plugins

serviceAccount:
  create: true # default is true
  name: "headlamp-admin"
  annotations: {}

ingress:
  enabled: true # default is false
  annotations:
    cert-manager.io/cluster-issuer: issuer
  ingressClassName: "nginx"
  hosts:
    - host: headlamp.lab.juned.co.uk
      paths:
        - path: /
          type: Prefix
  tls:
    - secretName: headlamp-ingress-tls
      hosts:
        - headlamp.lab.juned.co.uk

securityContext:
  runAsNonRoot: true # default is true
  privileged: false # default is false

clusterRoleBinding:
  create: true # default is true
  clusterRoleName: cluster-admin # default is "cluster-admin" # test out the "view" role

nodeSelector:
  infra: "true"
tolerations:
  - key: infra
    operator: Equal
    value: "true"



# below is the installation of the flux plugin (and also another plugin i.e. trivy)
# guide https://github.com/headlamp-k8s/plugins/tree/main/flux
# image link https://github.com/headlamp-k8s/plugins/pkgs/container/headlamp-plugin-flux
# initContainers:
#   - command:
#       - /bin/sh
#       - -c
#       - mkdir -p /build/plugins && cp -r /plugins/* /build/plugins/ && chown -R 100:101 /build
#     image: ghcr.io/headlamp-k8s/headlamp-plugin-flux:latest # using 0.4.0 but mentioning the exact version number tag does not work hence why using "latest" tag
#     imagePullPolicy: Always
#     name: headlamp-plugins
#     securityContext:
#       runAsNonRoot: false
#       privileged: false
#       runAsUser: 0
#       runAsGroup: 0
#     volumeMounts: # volume mount for the init container
#       - mountPath: /build/plugins
#         name: headlamp-plugins
#   - command:
#       - /bin/sh
#       - '-c'
#       - mkdir -p /build/plugins && cp -r /plugins/* /build/plugins/
#     image: ghcr.io/kubebeam/trivy-headlamp-plugin:v0.3.1
#     name: trivy-plugin
#     volumeMounts:
#       - mountPath: /build/plugins
#         name: headlamp-plugins


# #volumes set up that is needed for plugin to work
# volumeMounts: # volume mount for the headlamp container # only to be used if you use init containers to install the plugins
#   - mountPath: /build/plugins
#     name: headlamp-plugins

# volumes: # only to be used if you use init containers to install the plugins
#   - name: headlamp-plugins
#     emptyDir: {} # decided to use a temp volume as there is no actual data that I need to be persistent (since the headlamp app only has to use the static files htat the plugin installs on that directory for as long as the headlamp app, i.e. the pod, runs). Empty dir works here only because the headlamp app container and the plugin container exist in the same pod
#     # persistentVolumeClaim:
#     #   claimName: headlamp # The name of the Helm release


# testing out plugin management i.e. https://navneet-verma.medium.com/no-nonsense-guide-deploying-headlamp-on-vks-helm-plugins-53ca91517143
pluginsManager:
  enabled: true                              # Default is false
  configContent: |                           # Default is "". Add additional plugins as needed.  
    plugins:
     - name: cert-manager
       source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_cert-manager
       version: 0.1.0-alpha
     - name: trivy
       source: https://artifacthub.io/packages/headlamp/headlamp-trivy/headlamp_trivy
       version: 0.3.1
     - name: ai-assistant
       source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_ai_assistant
       version: 0.1.0-alpha
     - name: flux
       source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_flux
       version: 0.4.0
     - name: karpenter
       source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_karpenter
       version: 0.1.0-alpha
     - name: external-secrets-operator
       source: https://artifacthub.io/packages/headlamp/external-secrets-operator-headlamp-plugin/external-secrets-operator
       version: 0.1.0-alpha
  baseImage: node:lts-alpine  # Default is node:lts-alpine
  version: latest # Default is latest
  securityContext:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0